body {
  background-image: url("https://www.bricoflor.co.uk/media/catalog/product/cache/7/image/1250x1250/9df78eab33525d08d6e5fb8d27136e95/3/6/365031_9.jpg");
}

#title {
  margin-bottom: 10vh;
  width: 70vw;
}

h1 {
  color: red;
  font-size: 5vw;
  text-align: center;
}

a {
  text-align: center;
  font-size: 3vw;
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.content {
  background: yellow;
  width: 50vw;
  padding: 1vw;
  border-radius: 20px;
  margin: 3vh auto;
  text-align: center;
}

.content:hover {
  background-color: black;
}

.content:hover a {
  color: yellow;
}

img {
  display: block;
  margin: 0 auto;
}

#facts {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

#artTitle {
  margin-bottom: 10vh;
  width: 50vw;
}

.artPics {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
  width: 24.6vw;
  height: 40vh;
}

#montage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.alice-card,
.paw-card,
.cheetah-card,
.board-card {
  background-color: transparent;
  width: 24.6vw;
  height: 40vh;
}

.alice-card-inner,
.paw-card-inner,
.cheetah-card-inner,
.board-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.alice-card:hover .alice-card-inner {
  transform: rotateY(180deg);
}

.paw-card:hover .paw-card-inner {
  transform: rotateY(180deg);
}

.cheetah-card:hover .cheetah-card-inner {
  transform: rotateY(180deg);
}

.board-card:hover .board-card-inner {
  transform: rotateY(180deg);
}

.alice-card-front,
.alice-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.paw-card-front,
.paw-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.board-card-front,
.board-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cheetah-card-front,
.cheetah-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.alice-card-front,
.cheetah-card-front,
.paw-card-front,
.board-card-front {
  color: black;
}

.alice-card-back,
.paw-card-back,
.board-card-back,
.cheetah-card-back {
  background-color: lightyellow;
  color: black;
  transform: rotateY(180deg);
}

@media only screen and (max-width: 768px) {
  .content {
    background: yellow;
    width: 80vw;
    height: 10vh;
    padding: 1vw;
    border-radius: 20px;
    margin: 3vh auto;
    text-align: center;
  }

  a {
    text-align: center;
    font-size: 8vw;
    list-style-type: none;
    text-decoration: none;
    color: black;
  }

  h1 {
    color: red;
    font-size: 10vw;
    text-align: center;
  }

  #title {
    margin-bottom: 10vh;
    width: 80vw;
    height: 15vh;
    margin-top: 2vh;
  }
}
