body {
  background-image: url("https://www.bricoflor.co.uk/media/catalog/product/cache/7/image/1250x1250/9df78eab33525d08d6e5fb8d27136e95/3/6/365031_9.jpg");
}

#home {
  width: 5vw;
  margin-left: 0px;
  border-radius: 90px;
}

#factsTitle {
  margin-bottom: 10vh;
  width: 50vw;
}

#factIntro {
  text-align: center;
  font-size: 2.5vw;
}

img {
  display: block;
  margin: 0 auto;
}

#cheetahGif {
  width: 15vw;
  transform: scaleX(-1);
}

#factBox {
  display: block;
  margin: 0 auto;
  border: black solid 10px;
  border-radius: 20px;
  background: rgb(255, 255, 33);
  font-size: 3.5vw;
  text-align: center;
  width: 60vw;
  height: 20vh;
  padding-top: 7vh;
}

#aliceReadingFacts {
  width: 40vw;
  border: yellow solid 2px;
  border-radius: 20px;
  margin: 2vw auto;
}

#testPage {
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.bricoflor.co.uk/media/catalog/product/cache/7/image/1250x1250/9df78eab33525d08d6e5fb8d27136e95/3/6/365031_9.jpg");
  z-index: 1;
  visibility: hidden;
}

#testPageInfo {
  padding-top: 20vh;
  font-size: 4vw;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #factBox {
    font-size: 5vw;
    height: 15vh;
    padding-top: 2vh;
  }

  #cheetahGif {
    width: 25vw;
    transform: scaleX(-1);
  }

  #factIntro {
    text-align: center;
    font-size: 4vw;
  }

  #home {
    width: 15vw;
    margin-left: 0px;
    border-radius: 90px;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  #testPage {
    position: absolute;
    top: 0px;
    width: 100vw;
    height: 300vh;
    background-image: url("https://www.bricoflor.co.uk/media/catalog/product/cache/7/image/1250x1250/9df78eab33525d08d6e5fb8d27136e95/3/6/365031_9.jpg");
    z-index: 1;
    visibility: visible;
  }
}
