body {
  background-image: url("https://www.bricoflor.co.uk/media/catalog/product/cache/7/image/1250x1250/9df78eab33525d08d6e5fb8d27136e95/3/6/365031_9.jpg");
}

#home {
  width: 5vw;
  margin-left: 0px;
  border-radius: 90px;
}

img {
  display: block;
  margin: 0 auto;
}

video {
  display: block;
  margin: 0 auto;
  border: solid 2px goldenrod;
  border-radius: 3vh;
  width: 60vw;
}

#videoTitle {
  width: 50vw;
}

@media only screen and (max-width: 768px) {
  #videoTitle {
    width: 80vw;
  }

  #home {
    width: 10vw;
    margin-left: 0px;
    border-radius: 90px;
  }

  #cheetahSong {
    margin-top: 5vh;
    border: solid 2px goldenrod;
    border-radius: 3vh;
    width: 80vw;
  }

  video {
    display: block;
    margin: 0 auto;
    border: solid 2px goldenrod;
    border-radius: 3vh;
    width: 80vw;
  }
}
